/* Общие стили для формы */
form {
    background-color: #2d2b55;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Стили для меток */
form label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
}

/* Поля ввода */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form input[type="date"],
.select-tariffs,
.select-time,
.select-clients {
    width: 96%;
    padding: 2%;
    border: 1px solid #3b3f5e;
    background-color: #1e1e3f;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}
.select-tariffs,
.select-time,
.select-clients {
    width: 100%;
}

.dropdown-button:hover,
.select-tariffs:hover,
.select-time:hover,
.select-clients:hover{
    cursor: pointer;
    background-color: #24244a;
}

.dropdown-button:focus,
.select-tariffs:focus,
.select-time:focus,
.select-clients:focus{
    border-color: #3a3af0;
    background-color: #24244a;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus {
    outline: none;
    border-color: #3a3af0;
}

/* Обёртка для центрирования кнопки */
form .button-container {
    text-align: center;
}

/* Кнопка */
.submit-button {
    width: 30%;
    background-color: #19199a; /* Голубая кнопка */
    color: #ffffff;
    border: none;
    padding: 2% 4%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #1f1fab;
}

.validation-text {
    color: #ff6b6b;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

/* для выпадающего списка с множественным выбором с галочками для формы бронирований для выбора общих игр */

/* Контейнер выпадающего окна */
.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Кнопка для открытия выпадающего окна */
.dropdown-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #3b3f5e;
    background-color: #1e1e3f;
    color: #ffffff;
    text-align: left;
    border-radius: 4px;
    font-size: 16px;
    padding: 2%;
}

/* Список выпадающих элементов */
.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #3b3f5e;
    background-color: #1e1e3f;
    z-index: 1000;
    border-radius: 4px;
}

/* Элементы списка */
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 1.4%;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #2d2d5b;
}

/* Скрываем стандартный чекбокс */
.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
}

/* Отмеченные элементы */
.dropdown-item input[type="checkbox"]:checked + label {
    font-weight: bold;
}

/*  */

