<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VR Club</title>
    <link rel="stylesheet" href="../web/css/styles.css">
    <script src="../web/js/slider.js" defer></script> <!-- Подключаем JS -->
</head>
<body>
    <!-- Шапка -->
    <header>
        <div class="logo">
            <img src="../assets/logo.jpg" alt="VR Club Logo">
        </div>
        <div class="title">
            <h1>VR клуб - Поколение Z</h1>
        </div>

        <div class="admin-login">
            <form enctype="multipart/form-data" method="post" action="/admin/login">
                <button type="submit">Вход для администратора</button>
            </form>
        </div>

    </header>

    <!-- Основная часть -->
    <main>
        <!-- Слайдер тарифов -->
        <section class="tariff-slider">
            <h2>Наши тарифы</h2>
            <div class="slider-wrapper">
                <button class="slider-btn prev">&lt;</button>
                <div class="slider-container">
                    {{ range .Tariffs }}
                    <div class="tariff-card">
                        <div class="tariff-header">
                            <h3>{{ .Name }}</h3>
                            <p class="tariff-price">{{ .Price }} руб.</p>
                        </div>
                        <ul class="tariff-features">
                            <li><strong>Игры:</strong></li>
                            {{ range .Games }}
                            <li>{{ .Name }} ({{ .Genre }})</li>
                            {{ end }}
                            <li><strong>Устройства:</strong></li>
                            {{ range .Devices }}
                            <li>{{ .Name }} ({{ .Platform }})</li>
                            {{ end }}
                        </ul>
                        <button class="tariff-button" onclick="scrollToBooking()">Забронировать сейчас</button>
                    </div>
                    {{ end }}
                </div>
                <button class="slider-btn next">&gt;</button>
            </div>
        </section>
    
        <!-- Форма бронирования -->
        <div class="booking-form">
            <h2>Забронировать сеанс</h2>
            <form id="booking-form" method="post" action="/booking">
                <label for="tariff-select">Тариф:</label>
                <select id="tariff-select" name="tariff">
                    {{ range .Tariffs }}
                    <option value="{{ .Name }}">{{ .Name }} - {{ .Price }} руб.</option>
                    {{ end }}
                </select>
    
                <label for="name">ФИО:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="booking-date">Выберите дату:</label>
                <input type="date" id="booking-date" name="booking-date">

                <div id="available-times" style="display: none;">
                    <h3>Доступное время:</h3>
                    <div id="time-buttons"></div>
                    <button  type="button" id="cancel-selection">Отменить выбор</button>
                </div>

                <label for="subjects">Общие игры:</label>
                <div class="dropdown-container">
                    <button type="button" class="dropdown-button" onclick="toggleDropdown()">Выберите дополнительно игры по желанию</button>
                    <div class="dropdown-list" id="dropdown-subjects">
                        {{range .Games}}
                        <label class="subject-label">
                            <input type="checkbox" name="subjects" value="{{.Id}}" class="subject-checkbox"> {{.Name}} - {{.Price}}
                        </label>
                        {{end}}
                    </div>
                </div>

                <script src="../web/js/calendar.js" defer></script>
                <script src="../web/js/ClearForm.js" defer></script>

                <script>
                 function toggleDropdown() {
                    var dropdown = document.getElementById("dropdown-subjects");
                    if (dropdown.style.display === "none" || dropdown.style.display === "") {
                        dropdown.style.display = "block";
                    } else {
                        dropdown.style.display = "none";
                    }
                }
        
                // Закрытие выпадающего списка, если пользователь кликнул вне его области, кроме элементов списка
                window.onclick = function(event) {
                    if (!event.target.matches('.dropdown-button') && !event.target.closest('.dropdown-list')) {
                        var dropdowns = document.getElementsByClassName("dropdown-list");
                        for (var i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.style.display === "block") {
                                openDropdown.style.display = "none";
                            }
                        }
                    }
                }
                </script>
                <button class = "sub-bt" type="submit">Забронировать</button>
            </form>
        </div>
    </main>
    

    <!-- Футер -->
    <footer>
        <div class="contacts">
            <p>📞 Телефон: +7 (999) 123-45-67</p>
            <p>📬 Email: info@vrclub.ru</p>
        </div>
        <div class="address">
            <p>📍 Адрес: ул. Примерная, 1</p>
        </div>
    </footer>
</body>
</html>
