<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../web/css/admin.css">

    <script defer src="../web/js/clientEdit.js"></script>
    <script defer src="../web/js/clientDelete.js"></script>

    <title>Панель администратора</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul>
                <li><h2 class="sidebar-title">Управление</h2></li>
                <li><a class="sidebar-button" href="#clients">Клиенты</a></li>
                <li><a class="sidebar-button" href="#tariffs">Тарифы</a></li>
                <li><a class="sidebar-button" href="#bookings">Бронирования</a></li>
                <li><a class="sidebar-button" href="#tariff-stats">Документ с статистикой по тарифам</a></li>
                <li><a class="sidebar-button" href="#booking-stats">Документ с статистикой по броням</a></li>
            </ul>
            <div class="sidebar-buttons">
                <a id="edit-button" class="sidebar-action-button disabled" href="#">Изменить запись</a>
                <a id="delete-button" class="sidebar-action-button disabled" href="#">Удалить запись</a>
            </div>
            <a class="sidebar-back-button" href="/">Выйти</a>
        </div>
            <header class="header-container">
                <h1>Панель администратора</h1>
            </header>
        <main>
            <section id="clients">
                <h2>Клиенты</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">ФИО</th>
                            <th class="table-body-cell">Телефон</th>
                            <th class="table-body-cell">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Clients}}
                        <tr class="table-body">
                            <td class="table-body-cell hidden-id">{{.Id}}</td>
                            <td class="table-body-cell">{{.Name}}</td>
                            <td class="table-body-cell">{{.Phone}}</td>
                            <td class="table-body-cell">{{.Email}}</td>
                        </tr>
                        {{end}}
                        <tr class="add-row">
                            <td class="table-body-button" colspan="3">
                                <a href="/admin/client/add" class="button">Добавить клиента</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="tariffs">
                <h2>Тарифы</h2>
                {{range .Tariffs}}
                    <a class="tariff-button" href="/admin/tariff?id={{.Id}}">{{.Name}}</a>
                {{end}}
                <a class="tariff-button-add" href="/admin/tariff/add">Добавить тариф</a>
            </section>
            <section id="bookings">
                <h2>Бронирования</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">Клиент</th>
                            <th class="table-body-cell">Тариф</th>
                            <th class="table-body-cell">Дата бронирования</th>
                            <th class="table-body-cell">Время</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Bookings}}
                        <tr class="table-body">
                            <td class="table-body-cell hidden-id">{{.ID}}</td>
                            <td class="table-body-cell">{{.ClientName}}</td>
                            <td class="table-body-cell">{{.TariffName}}</td>
                            <td class="table-body-cell">{{.BookingDate}}</td>
                            <td class="table-body-cell">{{.BookingTime}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </section>

            <section id="tariff-stats">
                <h2>Документ с статистикой по тарифам</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">Тариф</th>
                            <th class="table-body-cell">Количество использований</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>

            <section id="booking-stats">
                <h2>Документ с статистикой по броням</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">Дата</th>
                            <th class="table-body-cell">Количество броней</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
