<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../web/css/admin.css">
    <link rel="stylesheet" href="../../../web/css/actionforms.css">

    <title>{{.Action}} устройство</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul class="sidebar-button-container">
                <li><h2 class="sidebar-title">Управление</h2></li>
            </ul>
            <div class="sidebar-buttons">
            </div>
            <a class="sidebar-back-button" href="/admin/tariff?id={{.IdTariff}}">Отмена</a>
        </div>
        <header class="header-container">
            <h1>{{.Action}} устройство</h1>
        </header>
        <main>
            {{if .Validation}}
            <p class="validation-text">{{.Validation}}</p>
            {{end}}
            <form action="#" method="POST">
                <label for="name">Название:</label>
                <input type="text" id="name" name="name" value="{{if .Name}}{{.Name}}{{end}}" required />
                <label for="genre">Платформа:</label>
                <input type="text" id="platform" name="platform" value="{{if .Platform}}{{.Platform}}{{end}}" required />
                <div class="button-container">
                    <button type="submit">{{.Action}}</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>