<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../web/css/admin.css">
    <link rel="stylesheet" href="../../../web/css/actionforms.css">

    <title>{{.Action}} клиента</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul class="sidebar-button-container">
                <li><h2 class="sidebar-title">Управление</h2></li>
            </ul>
            <div class="sidebar-buttons">
            </div>
            <a class="sidebar-back-button" href="/admin">Отмена</a>
        </div>
        <header class="header-container">
            <h1>{{.Action}} клиента</h1>
        </header>
        <main>
            <form action="#" method="POST">
                <label for="name">ФИО клиента:</label>
                <input type="text" id="name" name="name" value="{{if .Name}}{{.Name}}{{end}}" required />
                <label for="phone">Номер телефона клиента:</label>
                <input type="text" id="phone" name="phone" value="{{if .Phone}}{{.Phone}}{{end}}" required />
                <label for="price">Email клиента:</label>
                <input type="email" id="email" name="email" value="{{if .Email}}{{.Email}}{{end}}" required />
                <div class="button-container">
                    <button type="submit">{{.Action}}</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
