<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../web/css/admin.css">
    <link rel="stylesheet" href="../../../web/css/actionforms.css">

    <title>Вход в панель администратора</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul class="sidebar-button-container">
                <li><h2 class="sidebar-title">Управление</h2></li>
            </ul>
            <div class="sidebar-buttons">
            </div>
            <a class="sidebar-back-button" href="/">Отмена</a>
        </div>
        <header class="header-container">
            <h1>Вход в панель администратора</h1>
        </header>
        <main>
            <form action="/admin/login" method="POST">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <div class="button-container">
                    <button class="submit-button" type="submit">Войти</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
