<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../web/css/admin.css">
    <link rel="stylesheet" href="../../../web/css/actionforms.css">

    <script defer src="../../../web/js/adminBookingForm.js"></script>

    <title>{{.Action}} бронирование</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul class="sidebar-button-container">
                <li><h2 class="sidebar-title">Управление</h2></li>
            </ul>
            <div class="sidebar-buttons">
            </div>
            <a class="sidebar-back-button" href="/admin#bookings">Отмена</a>
        </div>
        <header class="header-container">
            <h1>{{.Action}} бронирование</h1>
        </header>
        <main>
            {{if .Validation}}
                <div class="validation-text">{{.Validation}}</div>
            {{end}}
            <form action="#" method="POST">
                <!-- Выбор клиента -->
                <label for="client">Клиент:</label>
                <select class="select-clients" id="client" name="client" required>
                    <option value="">Выберите клиента...</option>
                    {{range .Clients}}
                        <option value="{{.Id}}" {{if eq .Name $.ClientName}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
    
                <!-- Тариф -->
                <label for="tariff">Тариф:</label>
                <select class="select-tariffs" id="tariff" name="tariff" required>
                    <option value="">Выберите тариф...</option>
                    {{range .Tariffs}}
                        <option value="{{.Id}}" {{if eq .Name $.TariffName}}selected{{end}}>{{.Name}} ({{.Price}} руб.)</option>
                    {{end}}
                </select>

                <!-- Выбор общих игр -->
                <label for="general-games">Общие игры:</label>
                <div class="dropdown-container">
                    <button type="button" class="dropdown-button" onclick="toggleDropdown()">
                        {{if ne (len .SelectedGeneralGamesName) 0}}
                            Выбрано игр: {{len .SelectedGeneralGamesName}}
                        {{else}}
                            Выберите общие игры (необязательно)...
                        {{end}}
                    </button>
                    <div class="dropdown-list" id="dropdown-general-games">
                        {{range .GeneralGames}}
                            {{$Name := .Name}}
                            <label class="dropdown-item">
                                <input type="checkbox" name="general-games" value="{{.Id}}"
                                {{range $.SelectedGeneralGamesName}}
                                    {{if eq . $Name}}checked{{end}}
                                {{end}}>
                                {{.Name}} ({{.Price}} руб.)
                            </label>
                        {{end}}
                    </div>
                </div>
    
                <!-- Дата брони -->
                <label for="date">Дата бронирования:</label>
                <input type="date" id="date" name="date" value="{{.BookingDate}}" required />
    
                <!-- Время брони -->
                <label for="time">Время бронирования:</label>

                <select class="select-time" id="time" name="time" required>
                    <option value="">Выберите время...</option>
                    {{range .AvailableTimes}}
                        <option value="{{.}}" {{if eq . $.BookingTime}}selected{{end}}>{{.}}</option>
                    {{end}}
                </select>
    
                <div class="button-container">
                    <button class="submit-button" type="submit">{{.Action}}</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>