<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../web/css/admin.css">

    <script defer src="../web/js/tariffDelete.js"></script>
    <script defer src="../web/js/tariffEdit.js"></script>

    <title>Тариф</title>
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul class="sidebar-button-container">
                <li><h2 class="sidebar-title">Управление</h2></li>
                <li><a class="sidebar-button" href="#games">Игры</a></li>
                <li><a class="sidebar-button" href="#devices">Устройства</a></li>
            </ul>
            <div class="sidebar-buttons">
                <a class="sidebar-tariff-button" href="/admin/tariff/edit?id={{.Id}}&name={{.Name}}&price={{.Price}}">Изменить тариф</a>
                <a class="sidebar-tariff-button" href="/admin/tariff/delete?id={{.Id}}" onclick="return confirm('Вы уверены, что хотите удалить этот тариф?');">Удалить тариф</a>
            </div>
            <div class="sidebar-buttons">
                <a id="edit-button" class="sidebar-action-button disabled" href="#">Изменить запись</a>
                <a id="delete-button" class="sidebar-action-button disabled" href="#">Удалить запись</a>
            </div>
            <a class="sidebar-back-button" href="/admin">Назад</a>
        </div>
        <header class="header-container">
            <h1>Тариф {{.Name}}</h1>
        </header>
        <main>
            <h2>Цена: {{.Price}} руб.</h2>
            <section id="games">
                <h2>Игры</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">Название</th>
                            <th class="table-body-cell">Жанр</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Games}}
                        <tr class="table-body">
                            <td class="table-body-cell">{{.Name}}</td>
                            <td class="table-body-cell">{{.Genre}}</td>
                        </tr>
                        {{end}}
                        <tr class="add-row">
                            <td class="table-body-button" colspan="2">
                                <a href="/admin/tariff/add/game?id={{.Id}}" class="button">Добавить игру</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="devices">
                <h2>Устройства</h2>
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="table-body-cell">Название</th>
                            <th class="table-body-cell">Платформа</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Devices}}
                        <tr class="table-body">
                            <td class="table-body-cell">{{.Name}}</td>
                            <td class="table-body-cell">{{.Platform}}</td>
                        </tr>
                        {{end}}
                        <tr class="add-row">
                            <td class="table-body-button" colspan="2">
                                <a href="/admin/tariff/add/device?id={{.Id}}" class="button">Добавить устройство</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>