body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c44;
    color: #fff;
}

.admin-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-left: 270px;
    background-color: #2a2a5a;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

/* кнопки для тарифов */
.tariff-button {
    display: block;
    margin-bottom: 20px;
    padding: 20px 20px;
    border: 2px solid #fff;
    color: white;
    background-color: #3a3a66;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.tariff-button:hover {
    background-color: #4c4c7a;
    text-decoration: none;
}
/*  */

.menu-btn {
    background-color: #4c8eff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

.sidebar {
    width: 250px;
    background-color: #1e1e3e;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    margin-left: 270px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #4c4c7a;
}

table td {
    background-color: #3a3a66;
}
