<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админская панель</title>
    <link rel="stylesheet" href="../web/admin.css">
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <ul>
                <li><h2>Панель навигации</h2></li>
                <li><a href="#clients">Клиенты</a></li>
                <li><a href="#tariffs">Тарифы</a></li>
                <li><a href="#bookings">Документ с бронированиями</a></li>
                <li><a href="#tariff-stats">Документ с статистикой по тарифам</a></li>
                <li><a href="#booking-stats">Документ с статистикой по броням</a></li>
            </ul>
        </div>
            <header class="header-container">
                <h1>Админская панель</h1>
            </header>
        <main>
            <section id="clients">
                <h2>Клиенты</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Телефон</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Clients}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Phone}}</td>
                            <td>{{.Email}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </section>
            <section id="tariffs">
                <h2>Тарифы</h2>
                {{range .Tariffs}}
                    <a class="tariff-button" href="/admin/tariff?id={{.Id}}">{{.Name}}</a>
                {{end}}
            </section>
            <section id="bookings">
                <h2>Документ с бронированиями</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Дата бронирования</th>
                            <th>Время</th>
                            <th>Количество человек</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>

            <section id="tariff-stats">
                <h2>Документ с статистикой по тарифам</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Тариф</th>
                            <th>Количество использований</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>

            <section id="booking-stats">
                <h2>Документ с статистикой по броням</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Количество броней</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
